:root {
  --background-color: #E5D4CE;
  --light-color: #7FD1B9;
  --dark-color: #000000;
  --link-color: #E56399;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--background-color);
  margin: 1em;
  font-size: 16px;
  color: var(--dark-color);
}

main {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
}

#head {
  display: flex;
  justify-content: space-between;
}

#head h3 a {
    color: var(--dark-color);
    text-decoration: none;
}

footer {
    text-align: center;
    justify-content: center;
}

/* our post class */
.post {
    border:1px solid var(--dark-color);
    margin-bottom: 1em;
    padding: .5em 1em;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
    a {
        color: var(--link-color);
        background-color: var(--light-color);
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

#post {
    background-color: var(--dark-color);
    color: var(--light-color);
    margin-bottom: 1em;
    padding: .5em 1em;
}

.post-title {
    font-size: 1.5em;
}

.special-headline {
  font-weight: 900;
  color: #4b0082;
}

#unique-headline {
  font-weight: 600;
  color: #ff1493;
}